
// COLOR PALETTE


// // blue
$set1-clr1: #dcd6f7;
$set1-clr2: #11123b;
$set1-clr3: #a6b1e1;
$set1-clr4: #eef9bf;
$set1-clr5: #424874;

// // perple
$set2-clr1: #e9e2d0;
$set2-clr2: #5a3434;
$set2-clr3: #ea9085;
$set2-clr4: #eef9bf;
$set2-clr5: #6e5773;

// green
$set3-clr1: #effcef;
$set3-clr2: #412f09;
$set3-clr3: #ccedd2;
$set3-clr4: #eef9bf;
$set3-clr5: #94d3ac;

// // blue 2
$set4-clr1: #a8c9ff;
$set4-clr2: #0e2c33;
$set4-clr3: #0c7b93;
$set4-clr4: #eef9bf;
$set4-clr5: #00a8cc;

// // red
$set5-clr1: #ffb99a;
$set5-clr2: #851d41;
$set5-clr3: #ff6464;
$set5-clr4: #eef9bf;
$set5-clr5: #db3056;


// // yellow
$set6-clr1: #fffe9f;
$set6-clr2: #f56262;
$set6-clr3: #fca180;
$set6-clr4: #eef9bf;
$set6-clr5: #ffd480;

$color: #e24040;

// LAYOUT BREAKPOINTS

$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


$font: NotoSansSC;