
// COLOR PALETTE

// // perple
// $clr1: #e9e2d0;
// $clr2: #5a3434;
// $clr3: #ea9085;
// $clr4: #eef9bf;
// $clr5: #6e5773;

// // blue
$clr1: #dcd6f7;
$clr2: #000000;
$clr3: #a6b1e1;
$clr4: #eef9bf;
$clr5: #424874;

// // purple like the blue above
// $clr1: #dcd6f7;
// $clr2: #000000;
// $clr3: #aca6e1;
// $clr4: #eef9bf;
// $clr5: #514674;

// green
// $clr1: #effcef;
// $clr2: #000000;
// $clr3: #ccedd2;
// $clr4: #eef9bf;
// $clr5: #94d3ac;

// // blue 2
// $clr1: #a8c9ff;
// $clr2: #000000;
// $clr3: #0c7b93;
// $clr4: #eef9bf;
// $clr5: #00a8cc;


$color: #e24040;

// LAYOUT BREAKPOINTS

$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


