
// COLOR PALETTE

$clr1: #e3a26c;
$clr2: #7b423d;
$clr3: #3f8583;
$clr4: #2a6d73;
$clr5: #e8601f;

$color: #e24040;

// LAYOUT BREAKPOINTS

$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


