.add-members {
  border-radius: 5px;
  &:hover {
    background-color: darken($color: $clr1, $amount: 20);
    width: 100%;
  }

  .search-form {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 40px;
    // border-radius: 40px;
    // box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;

    &.focus {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }

    .search-input {
      position: absolute;
      top: em(4px);
      left: 38px;
      font-size: 1.4rem;
      background: none;
      color: $clr2;
      width: rem(200px);
      height: 25px;
      border: none;
      appearance: none;
      outline: none;
      font-family: Lato;
      &::-webkit-search-cancel-button {
        appearance: none;
      }
      &::placeholder {
        color: $clr2;
        opacity: 0.7;
      }
    }
    .search-button {
      position: absolute;
      top: 10px;
      left: 0px;
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0 rem(7px);

      border: none;
      background: none;
      outline: none !important;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        fill: $clr2;
      }
    }

    .select-user {
      top: 0px;
      font-size: 1rem;
      color: $clr2;
      border-radius: 5px;
      width: 200px;
      padding: 38px 10px 10px;
      // display: none;
      background-color: darken($color: $clr1, $amount: 20); 
      .search-option {
        // position: absolute;
        text-align: start;
        top: 10px;
        right: 15px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
          border-radius: 5px;
          background-color: darken($color: $clr1, $amount: 25);
        }
      }
    }
  }
}
