.add-checklist {
  display: flex;
  flex-direction: column;
  form {
    margin: 10px 10px;
    input {
      width: 100%;
      @include box-shadow-inset-clr5;
      border-radius: 3px;
      outline: none;
      line-height: 15px;
      border: none;
      padding: 8px 12px;
    }
  }
  .title-checklist {
    text-align: start;
  }
  .title {
    display: flex;
    text-align: start;
  }
}

#add-check-list {
  text-align: center;
  width: 100px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px 13px;
  font-size: 15px;
  line-height: 1;
  border-radius: 4px;
  @include clr3(background-color);
  &:focus {
    outline: none;
  }
  &:hover {
    @include bgc-darken8-clr3;
  }
}
