.add-board {



  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
  z-index: 5;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    padding-bottom: 0.3rem;
    width: 93%;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    margin: 10px auto 10px auto;
    margin-bottom: 6px;
  }
  button.add-img {
    border: none;
  }
  .color {
    text-align: left;
    border: 1px solid #000;
    padding: 10px;
  }
  input.input-color {
    display: none;
  }
  .public-checkbox {
    text-align: left;
  }

.img{
  text-align: left;
  border: 1px solid #000;
  padding: 10px;
  display: flex;
  align-items: center;
  img{
    margin-left: 25px;
  }

}
.input-container{
  cursor: pointer;
  margin-bottom: 8px;
}

.send {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  }

  .colors{
    .color-set{
      text-align: left;
      border: 1px solid #000;
      height: 50px;
      margin-top: 8px;
    }
  }
  .modal-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    img{
      width: 100%;
    }
  }
}
