.cover-picker {
  position: fixed;
  bottom: 10px;
  height: 275px;
  width: 292px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
  .covers {
      padding: 10px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
  }
}
