header.header-cmp {

  flex-basis: 4rem;
  align-items: center;
  padding: 0.2rem 1rem;
  @include clr5(background-color);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 2;
  .btn {
    background-color: lighten($color: $clr5, $amount: 15);
    border-radius: 0.3rem;
    transition: background-color 250ms;
    &:hover {
      background-color: lighten($color: $clr5, $amount: 25);
    }
  }

  .boards-menu {
    column-gap: rem(20px);
    font-weight: 700;
    .boards-btn {
      position: relative;
      padding: rem(6px) rem(8px);
      .boards-btn-icon {
        margin-right: rem(8px);
      }
    }
    .board-search {
      position: relative;
      .board-search-input {
        height: 3rem;
        border: none;
        border-radius: 0.3rem;
        width: 100%;
        padding: 0 3rem 0 1rem;
      }
      .search-icon {
        font-size: 1.3rem;
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  .logo {
    padding-top: 10px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    transition: color 250ms;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    h1 {
      font-family: GreatVibes, serif;
      margin: 0 0 rem(20px);
      font-weight: 700;
      line-height: 1;
      margin-bottom: 6px;
    }
  }

  .user-settings {
    height: 3rem;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: rem(13px);

    .user-settings-btn {
      font-size: 1.3rem;
      width: 3rem;
    }

    .user-settings-btn:last-of-type {
      margin-right: 0;
    }
  }
  .board-list {
    border-radius: 5px;
    top: 10px;
    left: rem(10px);
    position: absolute;
    background-color: lighten($color: $clr5, $amount: 15);
    padding: 10px;
    padding-top: 60px;
    .board-preview {
      display: block;
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      &:hover {
        cursor: pointer;
        background-color: lighten($color: $clr5, $amount: 25);
      }
    }
  }
}
