.label-picker {
  position: fixed;
  top: 10px;
  height: 275px;
  width: 292px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
  z-index:5;
  .lable {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-bottom: 5px;
  }
}
