.label-preview {
    h3{
        padding-left: 10px;
        text-align: left;
    }
  .labels-container {
    display: flex;
    margin: 0 0 0 36px;
    .label {

      border-radius: 3px ;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 5px 0 5px;
      position: relative;
      margin: 0 5px 5px 0;
      text-decoration: none;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }
    }
    button.add-Label{
        all:unset;

        cursor: pointer;
        display: block;
        text-overflow: ellipsis;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        line-height: 15px;
        &:hover{
          background-color: #cdd2d4;
          color: #4d4d4d;
          text-decoration: underline;
        }
  
    }
  }
}
