.massage-write {
  display: flex;
  form{
    width: 100%;
    align-self: flex-end;
  }
  .avatar{
    height: 28px;
    width: 28px;
    // margin-right: 10px;
margin:5px 10px 0 0 
  }
  .comment-frame {
    position: relative;

    .comment-box {
      display: flex;
      flex-direction: column;
      button{
        width: 100px;
        cursor: pointer;
    border: 1px solid transparent;
    padding: 8px 13px;
    font-size: 15px;
    line-height: 1;
    border-radius: 4px;
		@include clr3(background-color);
    &:focus{
      outline: none;
    }
      &:hover {
        @include bgc-darken8-clr3;
    }
      }
      .activity-input {
        width: 100%;
        @include box-shadow-inset-clr5;
        border-radius: 3px;
        outline: none;
        line-height: 15px;
        border: none;
        padding: 14px 12px;
        margin-bottom: 5px;

      }

    }
  }
}

