.massage-preview{
    width: max-content;
    min-width: 180px;
    max-width: 485px;
    display: flex;
    flex-direction: column;
    .avatar{
        align-self: end;
        margin: 0 0 7px;
        display: flex;
    
    }
    .time{
      margin-left: 5px;
        font: 12px "Lato", Arial, sans-serif;
        color: black;
        align-self: center;
    
    }
}

  .contain {  
    .text{
      margin: 0;
    text-align: start;
    overflow-wrap: break-word;
      }
  
    max-width: 525px;
    min-width: 200px;
    width: fit-content;
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 14px;
    background: $clr3;
    // width: 100%;
    position: relative;

    
    &:after {
      bottom: 98%;
      left: 10%;
      border: solid transparent;
      content: " ";
      border-bottom-color:$clr3;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 10px;
      margin-left: -10px;

   
    }

    .action{
        *{margin-right: 5px;}
    }
    .edit-msg{
      min-width: 180px;
      // width: max-content;

      .activity-input {
        // width: max-content;
       background-color: cornflowerblue;
      }
    }


  }


