.massage-preview {
  width: max-content;
  min-width: 180px;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  .avatar {
    align-self: flex-start;
    margin: 0 0 7px;
    display: flex;
    .avatar-user {
      margin: 0 12px 4px 0px;
    }
  }
  .time {
    margin-left: 5px;
    font: 12px $font;
    color: black;
    align-self: center;
  }
  .name {
    font-weight: 600;
  }
}

.contain {
  margin-left: 35px;
  .text {
    margin: 0;
    text-align: start;
    overflow-wrap: break-word;
  }

  max-width: 525px;
  min-width: 200px;
  width: fit-content;
  @include clr2(color);
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 14px;
  @include clr3(background-color);
  position: relative;

  .action {
    * {
      margin-right: 5px;
    }
  }
  .edit-msg {
    min-width: 180px;
    // width: max-content;

    .activity-input {
      // width: max-content;
      background-color: cornflowerblue;
    }
  }
}

.comment-box {
  display: flex;
}
