.task-list {
  flex: 0 0 27rem;
  display: flex;
  flex-direction: column;
  @include clr3(background-color);
  max-height: 100%;
  border-radius: 0.3rem;
  flex-direction: column;
  position: relative;
  margin-right: 0;
  .title {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 700;
    padding: 0.5rem;
    h2 {
      width: rem(220px);
      max-width: 100%;
      margin: 0;
      padding-left: 5px;
      padding-top: 0;
      text-align: left;
      font-size: rem(20px);
      line-height: rem(32px);
      @include clr2(background-color);
      transition: background-color 150ms;
      border-radius: 5px;
      font-weight: 600;
      font-family: $font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        background-color: lighten($color: $clr3, $amount: 10);
      }
    }

    .edit-title-list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: lighten($color: $clr3, $amount: 10);
      border: 0;
      padding-bottom: 0;
      @include clr2(color);
      padding-left: 5px;
      padding-top: 0;
      font-size: rem(20px);
      line-height: rem(32px);
      width: rem(220px);
      max-width: 100%;
      border-radius: 5px;
      font-weight: 600;
      font-family: $font;
      &:focus {
        outline: none;
      }
    }
    button {
      all: unset;
      padding: 0 10px;
      transition: background-color 150ms;
      border-radius: 5px;
      &:hover {
        background-color: lighten($color: $clr3, $amount: 10);
      }
    }
    .bar-action-list {
      position: absolute;
      right: 0;
      top: 100%;
      background-color: $clr4;
      font-size: rem(20px);
      font-family: $font;
      button:hover {
        border-radius: unset;
        background-color: lighten($color: $clr4, $amount: 10);
      }
    }
  }

  .list-items {
    flex: 1 1 auto;
    align-content: start;
    padding: 0 0.6rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    row-gap: 0.6rem;
    margin-bottom: 0;
 scrollbar-width: 10px;
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($color: $clr3, $amount: 20);
      border-radius: 2000px;
    }
  }
  .add-card-btn {
    height: rem(41px);
    font-size: rem(18px);
    margin-top: 15px;
    transition: background-color 150ms;
    font-weight: 600;
    padding: 3px 1rem;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: lighten($color: $clr3, $amount: 10);
      border-radius: 5px;
    }

    &::after {
      content: "...";
    }
  }
  .add-task-aria {
    padding: 3px rem(10px);
    margin-top: 15px;
    display: flex;
    border-radius: 5px;
    input{    height: rem(35px);

      font-size: rem(18px);
      font-weight: 500;
      width: rem(200px);
      border-radius: 5px;
      border: none;
      @include clr2(color);
      background-color: lighten($color: $clr3, $amount: 10);
      padding-inline-start:rem(10px) ;
      margin-inline-end: rem(10px);
    }
    button{
      font-size: rem(18px);
      @include clr2(color);
      font-weight: 500;

      border-radius: 5px;
background-color: unset;
border: unset;
&:hover{
  background-color: lighten($color: $clr3, $amount: 10);

}
    }
  }
}
