.task-modal {
  .overlay {
    .modal {
      width: auto;
      margin: 0px auto;
      position: absolute;
      top: 60px;
      padding: 20px;
      background-color: lighten($color: $clr1, $amount: 25);
      border-radius: 2px;
      box-shadow: 0 2px 8px 3px;
      transition: all 0.2s ease-in;
      font-family: Helvetica, Arial, sans-serif;
      display: grid;
      grid-template-columns: 550px 200px;
      grid-template-rows: auto 80px 1fr;
      .cover-area {
        grid-column: 1 /-1;
        grid-row: 1/ 2;
      }
      .title-area {
        grid-column: 1 /-1;
        grid-row: 2/ 3;
        display: flex;
        flex-direction: column;;
        .task-title{
          overflow: hidden;
          color: $clr2;
          word-wrap:break-word;
          width: 100%;
          background: transparent;
          border-radius: 3px;
          border: none;
          box-shadow: none;
          font-size: 20px;
          font-weight: 600;
          height: 32px; 
          line-height: 24px;
          min-height: 24px;
          padding: 4px 4px;
          resize: none;
          margin-bottom: 3px;
          margin-left: 7px;
          

          &:focus{
            
            outline: none;
            box-shadow: 0 0 3px ;
          }
        }
        .title-info-container{
            font-size: 14px;
            font-weight: 500;
            display: flex;
            margin-left: 36px;
          
            .list-name-container{
              margin-left: 5px;
            }
        }
      }
      .detail-area {
        grid-column: 1/ 2;
        grid-row: 3 /4;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        padding-right: 25px;
        p{
          text-align: left;
          margin:0 0 0 38px;
          word-wrap: break-word;
          width: 100%;
        }
        .members-labels-contaner {
          display: flex;
        }
        .description-container{
         
          // overflow: hidden;
          overflow-wrap: break-word;
          resize: none;
          border: none;
          background: #fff;
          box-shadow: none;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          margin-left:36px;
          border-radius: 3px;
          &:focus{
            box-shadow: inset 0 0 0 2px #dfe1e6;
            outline: none;
          }
          
        }
      }
      .add-area {
        grid-column: 2 /3;
        grid-row: 3/ 4;


        button {
          text-align: left;
          color: #172b4d;
          background-color: #eaecf0;
          box-shadow: none;
          border: none;
          border-radius: 3px;
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          height: 32px;
          margin-top: 8px;
          width: 100%;
          overflow: hidden;
          padding: 6px 0 6px 6px;
          text-decoration: none;
          text-overflow: ellipsis;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          outline: none;
          line-height: 15px;
          position: relative;
          &:hover{
            background-color: #cdd2d4;
            color: #4d4d4d;
            text-decoration: underline;
          }
          
   svg{
    margin-right:5px;
    font-size: 17px;
   }
        }
      }

      
    }

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00000094;
    z-index: 999;
    transition: opacity 0.2s ease;
    overflow-y: scroll;

    max-height: 100vh;
  }
  .fadeIn-enter {
    opacity: 0;
  }

  .fadeIn-leave-active {
    opacity: 0;
    transition: all 0.2s step-end;
  }

  .fadeIn-enter .modal,
  .fadeIn-leave-active.modal {
    transform: scale(1.1);
  }
  .icon-container{
    display: flex;
    align-items: center;
    
    
    svg {
    font-size: 24px;
    height: 24px;
    width: 24px;
    
  }
h3{
  font-size: 20px;
  margin: 0 0 0 12px;
}


  }

}

