.task-modal {
  .overlay {
    .modal {
      width: auto;
      margin: 0px auto;
      position: absolute;
      top: 60px;
      padding: 20px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px 3px;
      transition: all 0.2s ease-in;
      font-family: Helvetica, Arial, sans-serif;
      display: grid;
      grid-template-columns: 550px 200px;
      grid-template-rows: auto 80px 1fr;
      .cover-area {
        grid-column: 1 /-1;
        grid-row: 1/ 2;
      }
      .title-area {
        grid-column: 1 /-1;
        grid-row: 2/ 3;
      }
      .detail-area {
        grid-column: 1/ 2;
        grid-row: 3 /4;
        .members-labels-contaner {
          display: flex;
        }
      }
      .add-area {
        grid-column: 2 /3;
        grid-row: 3/ 4;
      }
      button {
        text-align: left;
        color: #172b4d;
        background-color: #eaecf0;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 32px;
        margin-top: 8px;
        width: 100%;
        overflow: hidden;
        padding: 6px 0 6px 6px;
        text-decoration: none;
        text-overflow: ellipsis;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        outline: none;
        line-height: 15px;
        position: relative;
        &:hover{
          background-color: #cdd2d4;
          color: #4d4d4d;
          text-decoration: underline;
        }
 
      }
    }

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00000094;
    z-index: 999;
    transition: opacity 0.2s ease;
    overflow-y: scroll;

    max-height: 100vh;
  }
  .fadeIn-enter {
    opacity: 0;
  }

  .fadeIn-leave-active {
    opacity: 0;
    transition: all 0.2s step-end;
  }

  .fadeIn-enter .modal,
  .fadeIn-leave-active.modal {
    transform: scale(1.1);
  }
}
