.task-list {
  flex: 0 0 27rem;
  display: flex;
  flex-direction: column;
  background-color: $clr3;
  max-height: 100%;
  border-radius: 0.3rem;
  flex-direction: column;
  position: relative;
  margin-right: 0;
  .title {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 700;
    padding: 0.5rem;
    h2 {
      width: 100%;
      margin: 0;
      padding-left: 5px;
      padding-top: 3px;
      text-align: left;
      font-size: rem(20px);
      line-height: rem(22px);
      color: $clr2;
      transition: background-color 150ms;
      border-radius: 5px;
      font-weight: 600;
      font-family: Lato;
      &:hover {
        background-color: lighten($color: $clr3, $amount: 10);
      }
    }

    .edit-title-list {
      background-color: lighten($color: $clr3, $amount: 10);
      border: 0;
      color: $clr2;
      padding-left: 5px;
      padding-top: 3px;
      padding-bottom:6px;
      font-size: rem(20px);
      line-height: rem(22px);
      max-width: 100%;
      border-radius: 5px;
      font-weight: 600;
      font-family: Lato;
    }

    button {
      all: unset;
      padding: 0 10px;
      transition: background-color 150ms;
      border-radius: 5px;
      &:hover {
        background-color: lighten($color: $clr3, $amount: 10);
      }
    }
    .bar-action-list {
      position: absolute;
      right: 0;
      top: 100%;
    }
  }

  .list-items {
    flex: 1 1 auto;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    row-gap: 0.6rem;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($color: $clr3, $amount: 20);
      border-radius: 2000px;
      // border-right: 0.6rem solid #e2e4e6;
    }
  }
  .add-card-btn {
    font-size: rem(18px);
    // height: rem(40px);
    transition: background-color 150ms;
    font-weight: 600;
    padding: 3px 1rem;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: lighten($color: $clr3, $amount: 10);
      border-radius: 5px;
    }

    &::after {
      content: "...";
    }
  }
}
