.task-modal {
  .overlay {
    .modal {
      width: auto;
      margin: 0px auto;
      position: absolute;
      top: 60px;
      padding: 20px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px 3px;
      transition: all 0.2s ease-in;
      font-family: Helvetica, Arial, sans-serif;
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-rows: 150px 1fr;
      .title-area {
        grid-column: 1 /-1;
        grid-row: 1/ 2;
      }
      .detail-area {
        grid-column: 1/ 2;
        grid-row: 2 /3;
      }
      .add-area {
        grid-column: 2 /3;
        grid-row: 2/ 3;
      }
      button {
        padding: 7px;
        margin-top: 10px;
        background-color: green;
        color: white;
        font-size: 1.1rem;
      }
    }

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00000094;
    z-index: 999;
    transition: opacity 0.2s ease;
    overflow-y: scroll;

    max-height: 100vh;
  }
  .fadeIn-enter {
    opacity: 0;
  }

  .fadeIn-leave-active {
    opacity: 0;
    transition: all 0.2s step-end;
  }

  .fadeIn-enter .modal,
  .fadeIn-leave-active.modal {
    transform: scale(1.1);
  }
}
