.user-page {
  // .add-new-board-container {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 25px;
  //   .btn-add-board {
  //     font-size: 18px;
  //     border: none;
  //     letter-spacing: 1.5px;
  //     text-transform: uppercase;
  //     border-radius: 12px;
  //     color: #fff;
  //     position: relative;
  //     cursor: pointer;
  //     box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  //     padding: 15px 75px;
  //     background-image: linear-gradient(to right, $clr3, $clr5);
  //     transition: 0.2s ease;

  //     &:focus,
  //     &:focus::after {
  //       outline: none;
  //     }

  //     &:active {
  //       transform: translateY(2px);
  //     }

  //     &:hover {
  //       transform: translateY(-2px) scaleX(1.05) scaleY(1.05);
  //       box-shadow: 0 0 10px rgba($clr5, 0.4);
  //     }
  //   }
  // }
  .cards-container {
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  .btn-add-board {
    $hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
    $returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    margin: 10px;
    cursor: pointer;
    display: inline-block;

    position: relative;
    width: 240px;
    height: 175px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: rgba(black, 0.66) 0 6px 10px 0, inset #333 0 0 0 3px, inset rgba(white, 0.5) 0 0 0 6px;
    transition: 0.3s $returnEasing;
    h3{
      color: #fff;
      font-size: 50px;
    }
    &:hover {
      background-color: #000;
        transition: 0.3s $hoverEasing, box-shadow 0.3s $hoverEasing;
        box-shadow: rgba(white, 0.2) 0 0 40px 5px, rgba(white, 1) 0 0 0 1px, rgba(black, 0.66) 0 7px 13px 0,
          inset #333 0 0 0 5px, inset white 0 0 0 6px;

        .card-info {
          transform: translateY(-30%);
          transition: 0.3s $hoverEasing;
          p {
            transition: 0.3s $hoverEasing;
            opacity: 1;
          }
        }
        .card-bg {
          transition: 0.3s $hoverEasing, opacity 0.3s $hoverEasing;
          opacity: 0.8;
        }
      
    }
  }
}
}