*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-family: Lato;
  color: $clr2;
  text-align: center;
  line-height: 1.9;
}

body {
  margin: 0;
  color: $clr2;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $clr1;
}


a {
  text-decoration: none;
}

p {
  margin: 0 1em;
  max-width: 48ch;
  white-space: pre;
  font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
