$clr1: $set1-clr1;
$clr2: $set1-clr2;
$clr3: $set1-clr3;
$clr4: $set1-clr4;
$clr5: $set1-clr5;



*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-family: $font;
  text-align: center;
  line-height: 1.9;
}

body {
  margin: 0;
  @include clr2(color);
  font-family: $font, sans-serif;
  display: flex;
  flex-direction: column;
  @include clr1(background-color);
}

a {
  text-decoration: none;
}

p {
  margin: 0 1em;
  // max-width: 48ch;
  white-space: pre-line;
  overflow-wrap: break-word;
  text-align: start;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}
